<a href="https://colab.research.google.com/github/RemyasreeP/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

Question 2

In [ ]:
Name="Remyasree P"
Address="poinachi, Kasaragod "
TelephoneNumber="1233456"
print("Name:"+Name+"\n", "Address:"+Address+"\n", "TelephoneNumber:"+TelephoneNumber+"\n")

Name:Remyasree P
 Address:poinachi, Kasaragod
 TelephoneNumber:1233456

Question 3

In [ ]:
print("your name is ", name) 
name="Remyasree P "

your name is  Remyasree P

Question 4

In [ ]:
 Width= int(input ("Enter the Width:")) 
Height=int(input ("Enter the Height:")) 
area=Width * Height
print("The area is", area, "square units")

Enter the Width:10
Enter the Height:2
The area is 20 square units

Question 5

In [ ]:
#area of a triangle
Base=int(input("Enter the width:")) 
Height=int(input("Enter the height:")) 
area=.5*Base*Height
print("The area is", area, "sqaure units")

Enter the width:10
Enter the height:2
The area is 10.0 sqaure units

Question 6

In [ ]:
#area of a circle
radius=int(input ("Enter the radius:")) 
area=3.14*radius**2
print("The radius is", area, "sqaure units")

Enter the radius:20
The radius is 1256.0 sqaure units

Question 7

In [ ]:
Name=input("Enter your name") 
Age=input ("Enter your age") 
print("My name is "+Name+" and my age is "+Age)

Enter your name Remyasree P
Enter your age 19
My name is  Remyasree P and my age is  19

Question 8

In [ ]:
a=int(input("Enter a number:")) 
a=a+1
print(a)

Enter a number:4
5

 Question 9

In [ ]:
Name=input (" Enter your first name:")
print(Name)

 Enter your first name:Remyasree
Remyasree

In [ ]:
input ("Enter your first name:")

Enter your first name:Remyasree

'Remyasree'